.logement-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    object-fit: cover;
    align-items: center;
    position: relative;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.logement-banner {
    width: 100%;
    margin-left: 60px;
    margin-right: 20px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // padding: 0 20px; 
}

.container-collapse {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.description-equipments-separator {
    margin: 55px; 
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
}

.left-content h2 {
    color:  rgba(255, 96, 96, 1);
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 10px;
}

.left-content p {
    font-weight: 600;
    padding-left: 10px;
    margin-top: 0;
}

.right-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
  }

.host-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
  
.host-name {
    margin-right: 10px;
    max-width: 100px;
    padding: 10px;
    text-align: right;
    color: rgb(255, 96, 96);
    font-weight: 500;
}

.host-picture {
    border-radius: 50%;
    object-fit: cover;
    width: 90px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .logement-container {
        margin: 0;
        padding: 0;
    }
    
    .container {
        flex-direction: column;
    }

    .right-content {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .left-content {
        margin-top: 0;
        margin-bottom: 0;
    }

    .left-content p {
        margin-top: 0;
        padding-left: 0;
        font-size: 14px;
    }

    .left-content h2 {
        margin-top: 10px;
        padding-left: 0;
        font-size: 18px;
    }

    .container-collapse {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .description-equipments-separator {
        margin: 0;
    }

    .host-picture {
        width: 45px;
    }

    .host-details {
        margin: 0;
    }

    .host-name {
        font-size: 12px;
        margin-right: 0;
        padding: 10px 15px 10px 30px;
    }
    

}
