.logement-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    object-fit: cover;
    align-items: center;
    position: relative;
}

.slides-container {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.logement-banner {
    width: 100%;
    margin-left: 60px;
    margin-right: 20px;
    align-items: center;
}

// .banner-and-list {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     object-fit: cover;
//     
//     position: relative;
// }
