*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0px;
    }
}

