.logo {
    margin: 20px 50px 25px 50px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .logo {
        width: 145px;
        height: 47px;
        margin: 15px;
    }
}