.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    // align-items: center;
}

.navlink-text {
    margin: 20px;
    padding: 5px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.navlink-text:hover, .navlink-text.active {
    text-decoration: underline; 
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0px;
    }

    .navlink-container {
        padding: 10px;
        align-items: center;
    }
    
    .navlink-text {
        text-transform: uppercase; 
        margin: 10px;
        font-size: 12px;
    }

}



