.header-container {
    display: flex;
    justify-content: space-between;
}

.navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    // align-items: center;
}

.navlink-text {
    margin: 20px;
    padding: 5px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.navlink-text:hover {
    text-decoration: underline; 
}

.logo {
    width: 15%;
    height: 60%;
    margin: 20px 50px 25px 50px;
}