.footer-container {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    background-color: black;
    // padding: 20px;
    text-align: center;
    p {
        color: white;
    }
}

.footer-elements {
    margin: 20px;
}

.fa-copyright {
    color: white;
}

// /* Small devices (phones, less than 768px) */
// @media (max-width: 768px) {
//     .logo {
//         margin: 40px 20px 20px 20px;
//     }
// }