.error-image-title {
    display: flex;
    flex-direction: column;
}

.error-image-title h2 {
    color: rgba(255, 96, 96, 1);
    font-weight: 500;
}

.retourner {
    font-weight: 500;
    font-size: 18px;
    color: black;
}