.accordion-title-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    // align-items: center;
    width: 80%;
    margin-bottom: 10px;
}


.accordion-title {
    display: flex;
    background:  rgba(255, 96, 96, 1);
    justify-content: space-between;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    // margin-bottom: 20px;
    align-items: center;
    width: 100%;
    list-style: none;
}

.accordion-content {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    padding: 10px;
    // margin-bottom: 20px;
    width: 100%;
    list-style: none;
    background-color: rgba(246, 246, 246, 0.45);
}

.accordion-content-list {
    padding: 0;
}

.accordion-content-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.accordion-arrow {
    transition: transform 0.3s;
    padding: 5px;
    
    &.open {
      transform: rotate(-180deg);
    }   
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .accordion-title-content {
        width: 100%;
        margin-top: 10px;
        // margin-bottom: 10px;
    }

    .accordion-title {
        font-size: 13px;
        font-weight: 600;
        padding: 0 0 0 10px;
    }

    .accordion-arrow {
        width: 25px;
    }

    .accordion-content {
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
    }
}