.banner {
    // position: relative;
    width: 95%;
    // margin-left: 10px; 
    // left: 50%;
    // margin-right: 50px; 
    height: 200px;
    object-fit: cover;
    object-position: center;
    // background-color: rgba(0, 0, 0, 0.5);  /* ???????? */
    filter: brightness(50%);
    border-radius: 20px; 
}